.Rproj.user
.Rhistory
.RData
.Ruserdata
CE_1/CE_1_files/*
CE_1/CE_1_cache/*
CE_1/CE_1_cache/latex/*

CE_2/CE_2_files/*
CE_2/CE_2_cache/*
CE_2/CE_2_cache/latex/*

CE_3/CE_3_files/*
CE_3/CE_3_cache/*
CE_3/CE_3_cache/latex/*

